@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
/* All links globally */
a {
  text-decoration: none; /* remove underline */
  color: inherit; /* inherit color */
}

a:hover {
  color: #facc15; /* Tailwind yellow-400 */
}
